substitutions:
  # these are able to be overridden on the command line
  name: default
  min: '0%'
  max: '70%'
  invert: 'false'
  pin: '18'
  # these can be left alone unless they really need to be changed
  dname: ${name}-ppl
  uname: ${name}_ppl

esphome:
  name: ${dname}

esp32:
  board: adafruit_feather_esp32s3
  framework:
    type: arduino

# Enable logging
logger:
  logs:
    component: ERROR

ota:
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_ssid_password

api:
  reboot_timeout: 5min

# the ESP32 board used has i2c on non-standard pins
i2c:
  sda: 3
  scl: 4

# setup time of flight people counter hardware
external_components:
  - source: github://Lyr3x/Roode@master
    refresh: always
vl53l1x:
roode:
  roi: { height: 4, width: 6 }
  detection_thresholds:
    min: ${min}
    max: ${max}
  zones:
    invert: ${invert}


# setup sensors
button:
  - platform: restart
    name: restart
  - platform: safe_mode
    name: restart safe
    icon: mdi:restart-alert

number:
  - platform: roode
    people_counter:
      name: people

binary_sensor:
  - platform: gpio
    pin: ${pin}
    name: motion
    device_class: motion
    filters:
      - delayed_off: 2s
  - platform: status
    name: status

sensor:
  - platform: wifi_signal
    name:  wifi signal
  # this is all the time of flight stuff
  - platform: roode
    id: ${uname}
    distance_entry:
      name: entry
      filters:
        - delta: 500.0
    distance_exit:
      name: exit
      filters:
        - delta: 500.0
    min_threshold_entry:
      name: min entry
    max_threshold_entry:
      name: max entry
    min_threshold_exit:
      name: min exit
    max_threshold_exit:
      name: max exit
    roi_height_entry:
      name: height entry
    roi_height_exit:
      name: height exit
    roi_width_entry:
      name: width entry
    roi_width_exit:
      name: width exit

text_sensor:
  - platform: roode
    version:
      name: roode version
    entry_exit_event:
      name: last direction
