substitutions:
  # these are able to be overridden on the command line
  name: default
  pin: '18'
  # these can be left alone unless they really need to be changed
  dname: ${name}-pwr
  uname: ${name}_pwr

esphome:
  name: ${dname}

esp32:
  board: adafruit_feather_esp32s3
  framework:
    type: esp-idf

# Enable logging
logger:

ota:
  platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_ssid_password

api:
  reboot_timeout: 5min

button:
  - platform: restart
    name: restart
  - platform: safe_mode
    name: restart safe
    icon: mdi:restart-alert

binary_sensor:
  - platform: gpio
    pin: 
      number: ${pin}
      inverted: true
      mode:
        input: true
    name: power
  - platform: status
    name: status

sensor:
  - platform: wifi_signal
    name:  wifi signal
